@import './styles/colors';
@import './styles/mixins';

/* Global styles */
body {
  background-color: $background-color; // Dark Gray
  color: $secondary-color; // White
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  color: $primary-color; // Golden Yellow
  font-family: 'Montserrat', sans-serif;
}

a {
  color: $accent-color; // Bright Orange
  text-decoration: none;
  &:hover {
    color: $primary-color; // Golden Yellow
  }
}

button, .btn {
  background-color: $accent-color; // Bright Orange
  color: $secondary-color; // White
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  &:hover {
    background-color: $primary-color; // Golden Yellow
    color: $background-color; // Dark Gray
  }
}



/* Section styles to ensure each section takes full viewport height */
section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  // transition: background-color 0.3s, color 0.3s;
}

/* Header styles */
.quote-section {
  // background-color: $background-color;
  color: $secondary-color;
  padding: 50px 0;

  h1,
  p {
    color: $primary-color;
  }
}

.orange-box{
  height: 36px;
  width: 36px;
  background-color: $accent-color;
  position: absolute;
  top: 0;
  right: 0;
}

.title-span{
  text-decoration: underline;
  color: $primary-color;
}

.quote-box{
  background-color: black;
}

#quote-box-quote-text{
  color: white;
}

body:has(.quote-box:hover) #quote-box-quote-text{
  color: black;
}



.quote-box:hover{
  background-color: white;
}

// .quote-box:hover #quote-box-quote-text{
//   background-color: white;
//   color: black;
// }



/* About styles */
#about {
  // background-color: $secondary-color; // White
  color: $background-color; // Dark Gray

  h2 {
    color: $accent-color; // Bright Orange
    margin-bottom: 20px;
  }
}

/* Projects styles */
#projects {
  background-color: $background-color;
  color: $secondary-color;

  h2 {
    color: $primary-color;
    margin-bottom: 20px;
  }
}

.project {
  background-color: lighten($background-color, 10%);
  color: $secondary-color;
  border: 1px solid $primary-color;
  padding: 20px;
  margin-bottom: 20px;

  h3 {
    color: $primary-color;
  }
}

/* Contact styles */
#contact {
  background-color: $background-color;
  color: $secondary-color;

  h2 {
    color: $primary-color;
    margin-bottom: 20px;
  }

  p {
    a {
      color: $accent-color;
      &:hover {
        color: $primary-color;
      }
    }
  }
}

/* Footer styles */
footer {
  background-color: $background-color;
  color: $secondary-color;
  padding: 20px 0;

  p {
    margin: 0;
  }
}
